body {
  font-style: fantasy;
}

h1, h2 {
  color: #f7325e;
}

nav {
  background-color: yellow;
  padding: 10px;
}
nav > h1 {
  float: right;
  margin-top: -40px;
}

li {
  display: inline;
  padding: 5px;
}

.tropical {
  text-align: center;

}
img {
  width: 300px;
  height: 300px;
}

.first {
  width: 450px;
  float: left;
  padding: 10px 10px 10px 50px;
}
.second {
  width: 450px;
  float: right;
  padding: 10px 10px 10px 10px;
}

footer {
  background-color: yellow;
}

.cf::before, .cf::after {
  content: " ";
  display: table;
}
.cf::after{
  clear: both;
}
.cf {
*zoom: 1; /* for IE6 and IE7 */
}
