body {
  font-style: fantasy;
}

h1, h2 {
  color: #f7325e;
}

nav {
  background-color: yellow;
  padding: 10px;
}
nav > h1 {
  float: right;
  margin-top: -40px;
}

li {
  display: inline;
  padding: 5px;
}

.welcome {
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
}
